[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "python"
formatter = { command = "ruff", args = ["format", "--quiet", "-"] }
auto-format = true
roots = ["pyproject.toml"]
language-servers = ["ruff", "pylsp"]
